html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-kerning: auto;
}

body {
  font-weight: 400;
  background-color: #fcfcfc;
  color: #222;
  /* border-right: 2px solid #398ad5; */
  /* border-left: 2px solid #398ad5; */
  margin: 0;
  min-height: 100%; min-height: 100vh;
}

#wrapper {
  max-width: 740px;
  margin: 0 auto;
  padding: 120px 7% 80px 7%;
}

header {
  display: block;
  font-weight: 400; letter-spacing: -0.035rem;
  padding: 10px 0;
  margin-bottom: 0;
  color: black;
}

header a:link, header a:visited {
  text-decoration: none;
  /* color: #8071b8; */
  color: #b41017;
}

header a:hover {
  text-decoration: underline #060609;
  color: #060609;
}

header span.back-arrow {
  display: inline-block;
  width: 20px;
}

header span.navbar {
  display: inline;
  font-size: 1.5rem; 
  font-weight: 700; letter-spacing: -0.035rem;
}

header span.navbar img{
  height: 1.3rem;
}

header .back-to-home {
  display: inline-block;
  margin-left: -20px;
}

header h1{
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0.2em;
}

article {
  line-height: 1.85rem;
  letter-spacing: -0.035rem;
}

article a:link {
  border-bottom: 1px solid grey;
  text-decoration: none;
}

article a {
  color: #555;
}

article a:hover {
  color: red;
  border-bottom-color: gray;
}

article p{
  margin-top: 0.5em;
}